/* contents */

/* component */
.guide_comp_wrap{}
.guide_comp_item{
    &:last-of-type{}
}
.guide_comp_title{}
.guide_comp_content{
    > *{
        margin-bottom:20px;
        &:last-child{margin-bottom:0;}
    }
}
.btn_textlink{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    display:inline-block;
    color: $primary;
    &.type2{ font-size: 12px;text-decoration: underline;
        font-weight: 500;}
}
.props_item_list{
    display:flex;flex-wrap:wrap;gap:25px;
    > li{}
}
.props_item{display:inline-flex;gap:11px;}
.props_form{
    cursor: pointer;
    box-sizing: content-box;overflow:hidden;width:12px;height:12px;border:1px solid #d3d5e0; border-radius:2px; appearance: none; background:#fff url("../images/ico_checkbox.png") no-repeat 0 0/100% auto;
    &:checked{border-color:$primary;background-position:0 100%;background-color:$primary;}
    &:hover{border-color:$primary;}
    &[type="radio"]{
        background:#fff;outline:1px solid #98a0ad;border-radius:100%; box-sizing: border-box;border:2px solid #fff;background:#fff;
        &:checked{background-color:$primary;outline-color:$primary;}
        &:hover{border-color:#fff;outline-color:$primary;}
    }
}
.props_label{cursor: pointer;color:#63677b;line-height:1;display:inline-block;
    font-size: 13px;
    text-align: left;
    color: #63677b;
}

.ui_picker_render{position:absolute;z-index:10;height:0;margin-top:1px;}


.form_item_wrap{}
.form_item{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.form_label{font-size: 12px;margin-bottom:4px;
    line-height: 1;
    text-align: left;
    color: #343439;}
.form_field{}
.form_input_component{
    position:relative;
    .form_ico{
        display:block;width:20px;height:20px;
        background:url("../images/ic_id_split.png") no-repeat 0 0/100% auto;
        position:absolute;top:50%;right:0;transform:translateY(-50%);
        &.ico_pw{background-image:url("../images/ic_pw_split.png");}
    }
    input.form_input{font-size:13px;border-radius:0;border:0;border-bottom:1px solid #d3d5e0;background:none;padding-right:28px;padding-left:0;
        &:focus + .form_ico{background-position:0 100%;}
    }
}
input.form_input{
    height:36px;line-height:1;appearance: none;padding:0 12px;border:1px solid #d3d5e0; border-radius:4px;width:100%; box-sizing: border-box; font-size:13px;

    &:focus{border-color:$primary;}
    &.focus{color:$primary}

    &.small{height:30px;font-size:12px;}
}

.btn_submit_row{margin-top:20px;text-align: center;display:flex;align-items:center;justify-content: center;gap:8px;}
.btn_boxtab_row{
    .btn_box{
        &.small{
            min-width: 70px;
        }
    }
}
.btn_box{
    min-width: 70px;text-align: center;display:inline-flex; justify-content: center; align-items:center; text-align: center;
    height: 30px;
    background:#fff;
    padding: 0 10px;
    white-space: nowrap;
    border-radius: 4px;
    border: solid 1px #d3d5e0;
    box-sizing: border-box;
    gap:4px;
    &:hover{
        border-color:#63677b;
    }
    &.small{min-width:0;}
    &.inline{min-width:0;text-align: left;}
    &.big{
        min-width:120px; height:36px;
        &.inline{
            min-width:80px;
        }
        .btn_box_text{
            font-size: 13px;
            font-weight: 600;
            line-height: 1;
            color: #63677b;
        }
    }
    &.primary{background-color:$primary;border-color:$primary;
        .btn_box_text{color:#fff;font-weight:600;}
        &:hover{
            background-color:#019370;border-color:#019370;
        }
    }
    i{ display:inline-block;position:relative;top:1px;width:16px;height:16px; flex:0 0 16px; background-repeat:no-repeat; background-size:100% auto; background-position: 0 0;}
    i.ico_plus{
       background-image:url("../images/ic_plus_s@2x.png")
    }
    i.ico_search{
        background-image:url("../images/ic_search_s@2x.png")
    }
    i.ico_check{
        background-image:url("../images/ic_check@2x.png")
    }
    &.gray{
        background-color:#63677b;border-color:#63677b;
        .btn_box_text{color:#fff;}
        &:hover{
            background-color:#595d6f;border-color:#595d6f;
        }
    }
}
.btn_box_text{font-size: 13px;line-height:1;display:inline-block;
    color: #63677b;}

select.form_select{
    appearance: none; -webkit-appearance: none; padding:0 32px 0 12px; height:36px; line-height:1; box-sizing: border-box; border:1px solid #d3d5e0;border-radius:4px; background:#fff url("../images/ico_select_split.png") no-repeat 100% 0/22px auto;
    font-size:12px;color:#545760; cursor: pointer;
    &.focus{background-position:100% 50%;border-color:$primary}
}

.file_upload_item{display:inline-flex;gap:4px;position:relative;overflow: hidden;align-items: center;cursor: pointer;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: #01a37c;
    &:hover{
        background-color:#019370;border-color:#019370;
    }
}
.file_upload_ico{display:inline-block;width:16px;height:16px;background:url("../images/ic_file_search@2x.png") no-repeat 0 0/100% auto;flex:0 0 16px;}
.file_upload_text{font-size: 13px; display:inline-block;white-space: nowrap;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #fff;}
input.file_origin{position:absolute;top:0;left:0;width:100%;height:100%;cursor: pointer; transform: scale(2.0);opacity:0;appearance: none;}
input.file_origin::file-selector-button {
    font-size:0;display:none;
}

/* guide */
.guide_comp_wrap{width:1200px !important;margin:100px auto;}
.guide_comp_item{
    margin-bottom:100px;
    &:last-of-type{margin-bottom:0;}
}
.guide_comp_title{
    font-size:30px;line-height:1;font-weight:700; margin-bottom:20px;
}
.guide_comp_content{

}


/* login */
.cform_field_form{
    .form_item_wrap{}
}
.props_item_list{
    &.cform_else_list{margin-top:23px;}
}
.btn_cform_submit_wrap{

}
.btn_cform_submit{max-width: 180px;
    position:relative;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 34px auto 28px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    transition:.4s box-shadow;
    overflow:hidden;
    &:before,&:after{
        display:block; content:'';width:100%;height:100%; position:absolute;top:0;left:0; transition:.4s; border-radius: 8px;
    }
    &:after{
        background-image: linear-gradient(to bottom, #01a37c 0%, #14bb83 100%);  opacity:0; 
    }
    &:before{
        background-image: linear-gradient(to bottom, #14bb83 0%, #01a37c 100%);  opacity:1; 
    }
    &:hover{
        &:before,&:after{
            opacity:1; 
        }
        box-shadow: 0 3px 8px 0 rgba(54, 147, 116, 0.5);
    }
}
.btn_cform_submit_text{color:#fff;display:inline-block;font-size:14px;line-height:1;position:relative;z-index:1;}
.cform_other_data_wrap{text-align: center;}
.cform_other_row{
    .btn_textlink{}
}
.cform_other{font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    display:inline-block;
    color: $primary;}
.cform_other_data_list{
    display:flex;justify-content:center;align-items:center;margin-top:8px;font-size:0;line-height:0;
    > li{
        padding-right:17px;position:relative;
        &:last-of-type{
            padding-right:0;
            &:after{}
        }
        &:after{display:block;content:'';width:1px;height:10px;background-color: #d9d9d9;position:absolute;top:50%;right:8.5px;transform:translateY(-50%);}
    }
}
.cform_other_data{ font-size: 13px; display:inline-block;
    line-height: 1;
    text-align: center;
    color: #63677b;}


/* list */
.search_field_wrap{
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #f9fafd;
    display:flex;align-items:center; gap:5px;
    &.type2{justify-content: space-between;}

    & + .block_section_wrap{margin-top:50px;}
}
.search_field_short_cols{
    flex:0;
    .form_select{width:118px;}
}
.search_field_long_cols{flex:1;min-width:0;}
.search_inner_form{
    display:flex;align-items: center;
     > input.form_input{border-right:0;border-radius:4px 0 0 4px;margin-right:-4px;padding-right:16px;}
    .btn_box{flex:0;min-width:90px;position:relative;z-index:1;}
}
.search_field_cols{
    display:flex;align-items:center; gap:30px;
    &:last-of-type{justify-content: flex-end;}
}
.search_field_form_group{
    display:flex; align-items: center; gap:10px;
    &:last-of-type{}
}
.search_field_label_cols{}
.sf_label{font-size: 13px; display:inline-block; position:relative;top:-1px;
    font-weight: 600;
    line-height: 1;
    color: #343439;}
.search_field_form_cols{
    .tui-datepicker-input-wrap{}
}
.form_inline_group{display:flex; align-items: center;gap:5px;}
.form_inline_cols{
    &:last-of-type{}
    .btn_box{}
}

.data_render_wrap{margin-top:50px;}
.list_table_top_row{display:flex;justify-content: space-between; align-items: flex-end;margin-bottom:10px;}
.list_table_top_cols{
    .btn_box{}
    &:last-of-type{}
}
.count_fraction{
    font-size: 13px;
  line-height: 1;
  color: #63677b;
}
.count_fraction_label{}
.count_fraction_current{font-weight: 600; color:$primary;}
.count_fraction_unit{}

.list_table_main_row{}
.list_table_wrap{border-top:2px solid $primary;}
.list_table{
    width:100%; table-layout: fixed;
    thead{
        th{
            border-bottom:1px solid #D3D5E0; padding:13px 8px;
            &:last-of-type{}
        }
    }
    tbody{
        tr:hover{
            td{background-color:#f9fafd;}
            .ico_linkitem{background-position:0 100%;}
        }
        td{
            border-bottom:1px solid #f1f2f4; padding:12px 8px; cursor: pointer;
            &:last-of-type{}
            &.has_link{text-align: left;font-size:0;line-height:0;}
            &.has_ico{padding-top:0;padding-bottom:0;font-size:0;line-height:0;}
        }
    }
}
.list_thtext{ font-size: 14px; display:inline-block;
    font-weight: 500;
    line-height: 1.4;
    color: #63677b;}
.list_tdtext{
    font-size: 13px; display:inline-block;
    line-height: 1.4;
    color: #343439;
}
.list_tdlink{
    font-size: 13px; display:inline-block;
    line-height: 1.4;
    @include clamp(1);
    color: #343439;
}
.ico_linkitem{
    display:inline-block;width:20px;height:20px;background:url("../images/ic_link_split.png") no-repeat 0 0/100% auto;
    &.ico_file{background-image:url("../images/ic_file_split.png")}
    &:hover{background-position:0 100%;}
}
.flag_text{color:#c643f4;padding: 0 6px; height:20px;line-height:20px;white-space: nowrap; display:inline-block;font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #f7ebfb;}
.flag_ico{
    width: 20px;
    height: 20px;
    line-height:20px;

    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #198d66;

    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border-radius: 100%;
    background-color: #e8f8e8;
    &.type2{
        background-color: #f1f3f9;
        color: #63677b;
    }
}

.pagination_wrap{display:flex;justify-content: center;margin-top:20px;gap:4px;}
.btn_pagination_control{
    display:flex;width:24px;height:24px; align-items: center; justify-content: center;
    border-radius: 4px;
    background-color: #f9fafd;
    &:after{
        display:block;content:'';width:16px;height:16px;
        background-position: 0 50%;
        background-size:16px auto;
        background-repeat : no-repeat;
    }
    &:focus{}
    &:hover{
        background-color:$primary;
        &:after{background-position:0 100%;}
    }
    &.disabled{
        background-color: #f9fafd !important; cursor: default;
        &:after{
            background-position:0 0 !important;
        }
    }
    &.prev_go{
        &:after{
            background-image:url("../images/ic_paging_prev_split.png");
        }
        
    }
    &.next_go{ 
        &:after{
            background-image:url("../images/ic_paging_next_split.png");
        }
    }
    &.prev_go2{
        &:after{
            background-image:url("../images/ic_paging_prev2_split.png");
        }
    }
    &.next_go2{
        &:after{
            background-image:url("../images/ic_paging_next2_split.png");
        }
    }
}
.pagination_number_list{
    display:flex;justify-content: flex-end;gap:2px;
    > li{
        &:last-of-type{}
    }
}
.page_number{
    display:flex;align-items:center;height:24px;min-width:24px;white-space: nowrap;justify-content: center;
    font-size: 13px;border-radius: 4px;
    color: #98a0ad;
    &:hover,
    &.active{background-color:$primary;font-weight:500;color:#fff;}
    &.active{cursor: default;}
}

.form_view_table_wrap{border-top:2px solid $primary;}
.form_view_table{
    width:100%;
    th,
    td{border-bottom: solid 1px #d3d5e0;}
    th{
        background-color: #f9fafd; text-align: center; padding:10px;
    }
    td{
        padding:10px 20px; text-align: left;
        &.colspan_td{
            padding:0;
        }
    }
    .form_input{}
    tr{
        &.active{display:table-row;}
    }
}
.form_view_data{font-size: 13px; display:flex;min-height:36px;flex-wrap:wrap;align-items: center;
    line-height: 1.38;
    text-align: left;
    color: #545760;}
.form_view_label{font-size: 13px; display:inline-block;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    color: #343439;
}
.props_item_list_wrap{
    display:flex;min-height:36px;flex-wrap:wrap;align-items:center;padding-left:1px;
    .props_item_list{}
    .props_item{}
}
.file_upload_zone{padding:3px 0;
    margin-right:-20px;
    &.type2{display:flex;min-height:36px;flex-wrap:wrap;padding:0;align-items: center;}
}
.file_upload_btn_row{
    display:flex;align-items:center;text-align:left;gap:10px;
    .file_upload_item{}
}
.file_placeholder{font-size: 12px;
    line-height: 1.3;
    text-align: left;
    color: #98a0ad;}
.file_upload_data_row{text-align: left;margin-top:10px;display:none;
    &.block_type{margin-top:0;display:block;}
}
.upload_data_text_list{
    display:flex;flex-wrap:wrap;gap:10px 21px;
    > li{
        .upload_data_text_item{}
    }
}
.upload_data_text_item{display:flex;gap:8px;}
.upload_data_text{font-size: 13px;
    line-height: 1;
    text-align: left;
    color: #63677b;}
.btn_upload_del{display:block;width:16px;height:16px;background:url("../images/ico_upload_delete.png") no-repeat 0 0/100% auto;border-radius:100%;}

.video_render_wrap{max-width:700px;margin:0 auto;padding:30px;}

.file_upload_imgdata_row{background:url("../images/bg_dash_line.png") repeat-x 0 0/6px auto;padding:24px 0 0;margin-top:10px;}
.upload_title_row{display:flex;gap:8px;align-items:flex-start; line-height:1.4; margin-bottom:13px;
    .btn_textlink{ line-height:1.4;}
}
.upload_title{font-size: 13px;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #343439;
}
.upload_data_row{}
.upload_data_list{
    display:flex;gap:10px 0;margin:0 -15px;
    > li{
        padding:0 15px;
        &:last-of-type{}
    }
}
.upload_data_list_wrap{
    padding:6px 0;
    .upload_data_list{
        
    }
}
.upload_data{position:relative;display:flex;gap:10px;}
.upload_data_chk_cols{
    flex:0;padding-top:5px;
    .props_form{}
}
.upload_data_render_cols{flex:1;/* width:140px; */position:relative;}
.upload_data_render_item{
    position:relative;
    .btn_upload_del{}
}
.udr_thum{
    position:relative; overflow:hidden; border-radius:4px; height:140px;background:#f0f0f0;width:140px;
    > img{display:block;width:100%;height:100%;position:absolute;top:0;left:0;object-fit: contain;object-position: 50% 50%;}
}
.udr_spec{
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #63677b;
    margin-top:5px;
}

.upload_data_text_list{
    > li{
        &:last-of-type{}
        .upload_data_text_item{gap:4px;}
    }
}
.upload_data_text_item{}
a.upload_data_text_item{
    &:hover{
        .upload_datalink_ico{background-position:0 100%;}
    }
}
.upload_datalink_ico{display:block;width:20px;height:20px;background:url("../images/ic_file_split.png") no-repeat 0 0/100% auto;}
.upload_data_text{
    font-size: 13px;
    line-height: 1.38;
    text-align: left;
    color: #63677b;
}
.btn_upload_del{}
.btn_upload_data_delete{width: 24px;display:block;position:absolute;top:-7px;left:127px;background:url("../images/ic_img_del@2x.png") no-repeat 0 0/100% auto;
    height: 24px;}
.getdata_render_wrap{ font-size: 13px; color: #545760;padding:20px; box-sizing: border-box; min-height:260px;
    line-height: 1.54;
    text-align: left;
}

.td_block_wrap{}
.td_block{
    &:last-of-type{}
    .props_item_list_wrap{}
}

.td_cont{
    display:none;background:url("../images/bg_dash_line.png") repeat-x 0 0/6px auto;padding:17px 0 6px;margin-top:5px;
    &.active{display:block;}
    .file_upload_zone{
        padding:2px 0;
    }
}

.tab_cont{
    display:none;
    &.active{display:block;}
}
tr.tab_cont{
    display:none;
    &.active{display:table-row;}
}

.block_table{display:table;width:100%;text-align: left;}
.block_table_tr{display:table-row;}
.block_table_th{display:table-cell;vertical-align: middle;width:1px;padding-right:8px;}
.block_table_td{
    display:table-cell;vertical-align: middle;
    input.form_input{}
}
.block_tb_label{white-space: nowrap;font-size: 13px; display: inline-block; position:relative;top:-1px;
    line-height: 1;
    text-align: left;
    color: #63677b;}

.gallery_list_wrap{
    & + .pagination_wrap{margin-top:30px;}
}
.gallery_list{
    display:flex;flex-wrap:wrap;gap:30px 0;margin:0 -15px;
    > li{flex:0 0 25%;box-sizing: border-box; width:25%;padding:0 15px;}
}
.gallery_item{}
.gallery_thum{
    height:0;padding-bottom:85.71428571428571%;position:relative;background:#f9fafd url("../images/no_img@2x.png") no-repeat 50% 50%/60px auto; overflow:hidden; border-radius: 4px;
    > img{display:block;width:100%;height:100%;position:absolute;top:0;left:0;object-fit: cover;object-position: 50% 50%;}
}
.gallery_spec{margin-top:16px;}
.gallery_spec_title{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #292a2e;
    @include clamp(2);
}
.gallery_spec_else_g{margin-top:5px;display:flex;justify-content: space-between; align-items: center;}
.gs_else_item{display:flex;align-items: center;gap:4px;}
.gs_else_item:last-of-type{}
.gs_else_text{
    font-size: 12px;
    line-height: 1;
    display:inline-block;
    text-align: left;
    color: #63677b;
}
.gs_else_ico{
    display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-size:100% auto; background-position:0 0;
    &.ico_eye{background-image:url("../images/ic_eye@2x.png")}
}

.upload_img_wrap{padding:6px 0;
    &.type2{
        text-align: center;
        .upload_img{
            > img{max-width:400px;}
        }
    }
}
.upload_img{
    min-width:140px;min-height:140px;background:#f9fafd url("../images/no_img@2x.png") no-repeat 50% 50%/60px auto;display:inline-block;position:relative;overflow:hidden;border-radius:4px;
    > img{vertical-align: top;max-width:310px;}
}

.editor_insert_wrap{padding:20px;}

.flex_form_wrap{display:flex;align-items: center;gap:15px;}
.flex_form_cols{}
.flex_form_long{flex:1;min-width:0;}
.flex_form_short{}
.inline_form_wrap{display:flex;align-items: center;}
.inline_form_cols{
    &:last-of-type{}
    .tui-datepicker-input-wrap{}
}
.inline_form_else{padding:0 10px;font-size:13px;color:#63677b;}


.detail_render_item_wrap{}
.detail_render_item{
    margin-top:50px;
    &:last-of-type{}
}
.detail_render_title{font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #343439;}
.detail_render_content{display:flex;align-items: center; gap:20px; margin-top:12px;
  border-radius: 8px;
  background-color: #f9fafd;}
.dr_img_cols{
    flex:0 0 270px;
    > img{}
}
.dr_spec_cols{
    flex : 1; min-width:0; padding:40px 40px 40px 0;
}
.dr_spec_table{
    
    line-height: 1.4; width:100%;
    th,td{text-align: left;padding-top:2px;padding-bottom:2px;}
    th{width:1px;padding-right:40px;}
    td{
        input.form_input{margin-top:2px;margin-bottom:2px;}
    }
    tr:last-of-type{
        th,td{padding-bottom:0}
    }
}
.dr_spec_label,.dr_spec_value{display:flex;flex-wrap:wrap;min-height:30px;align-items: center;font-size: 13px; }
.dr_spec_label{color: #63677b; white-space: nowrap;}
.dr_spec_value{color: #343439;}


.block_section_wrap{}
.block_section{
    margin-bottom:80px;
    &:last-of-type{margin-bottom:0;}
}
.block_section_title{font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #343439;}
.block_section_content{
    margin: 12px 0 0;
    padding: 30px 20px;
    border-radius: 8px;
    background-color: #f9fafd;
}
.block_depth_section{
    margin-bottom:30px;
    &:last-of-type{margin-bottom:0}
}
.block_depth_title{font-size: 13px;padding:0 0 10px 0;
    line-height: 1;
    color: #545760;}
.block_depth_content{}